{% extends "layout.html" %}

{% block body %}
<h3>Hakkımda</h3>
<hr>
Otomotiv sektörünün yapay zeka ve yazılım alanındaki kesişimine olan yoğun bir tutkum var. Python programlama dili üzerinde gelişim gösterdim ve otomotiv sektörü için AI ve yazılım alanında öğrenmeye ve büyümeye devam etmeyi hedefliyorum. Bu alanda becerilerimi, B2+ seviyesinde İngilizce bilgimle pekiştirdim. Ayrıca Almanca öğrenme adımları attım ve dil becerilerimi genişlettim. Bulunduğum sektör üzerine analiz çalışmaları yapmak üzere, Ansys programını da bilmekteyim ve öğrenmeye devam etmekteyim. Bursa Uludağ Üniversitesi'nde Otomotiv Mühendisliği öğrencisiyim.
<hr>
{% endblock body %}
